<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        Usuarios
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-n10 ">
    <div class="row">
        <div class="col-xxl-4 col-xl-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <label>Crear Usuario&nbsp;&nbsp;</label>
                    <button type="button" class="btn btn-outline-green" (click)="openAccount(modalAccount)" (click)="modifyAccount(0 , 'Crear')" (click)="cleanAccount()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <label>Buscar por cédula</label>
                                    <div class="input-group input-group-joined">
                                        <input class="form-control" type="text" placeholder="Cédula..." aria-label="Search" [(ngModel)]="optionNit" name="buscar">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-green" type="button" (click)="searchNit()"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Buscar por Nombre</label>
                                    <div class="input-group input-group-joined">
                                        <input class="form-control" type="text" placeholder="Nombre..." aria-label="Search" [(ngModel)]="optionFirst" name="buscarNombre">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-green" type="button" (click)="searchName()"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Buscar por Apellido</label>
                                    <div class="input-group input-group-joined">
                                        <input class="form-control" type="text" placeholder="Apellido..." aria-label="Search" [(ngModel)]="optionLast" name="buscarApellido">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-green" type="button" (click)="searchLast()"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id Account</th>
                                    <th>Cédula</th>
                                    <th>Primer Nombre</th>
                                    <th>Segundo Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segundo Apellido</th>
                                    <th>Correo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let account of listAccount">
                                    <td>{{account.DataBeanProperties.IDAccount}}</td>
                                    <td>{{account.DataBeanProperties.Nit}}</td>
                                    <td>{{account.DataBeanProperties.Name1}}</td>
                                    <td>{{account.DataBeanProperties.Name2}}</td>
                                    <td>{{account.DataBeanProperties.Surname1}}</td>
                                    <td>{{account.DataBeanProperties.Surname2}}</td>
                                    <td>{{account.DataBeanProperties.eMail}}</td>
                                    <td>
                                        <button title="Editar Usuario" class="btn-datatable btn-icon btn-transparent-dark" type="button" (click)="openAccount(modalAccount)" (click)="modifyAccount(account.DataBeanProperties.IDAccount , 'Editar')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>

<ng-template #modalAccount>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{titleMS}}</h5>
            <button class="close" type="button" (click)="cerrar()" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <label>Identificación</label>
                    <input class="form-control" type="number" [(ngModel)]="opcionDocument" name="docuement" />
                </div>
                <div class="col-4">
                    <label>Primer Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionFirstName" name="firstName" />
                </div>
                <div class="col-4">
                    <label>Segundo Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionSecondName" name="secondName" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <label>Primer Apellido</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionLastName" name="lastName" />
                </div>
                <div class="col-6">
                    <label>Segundo Apellido</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionSecondLast" name="secondLast" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <label>Dirección</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionAddress" name="address" />
                </div>
                <div class="col-6">
                    <label>Correo</label>
                    <input class="form-control" type="text" [(ngModel)]="opcionEmail" name="email" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger" type="button" (click)="cerrar()">Cerrar</button>
            <button class="btn btn-outline-success" type="button" (click)="sendAccount()">{{titleBS}}</button>
        </div>
    </div>
</ng-template>