<header class="page-header page-small page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-fluid">
        <div class="page-header-content pt-3">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        Documentos por responder
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid mt-n10 ">
    <div class="row">
        <div class="col-xxl-4 col-xl-12 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cbxBussinessProccess">Documentos</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="datatable">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id Procedimiento</th>
                                            <th>Tramite</th>
                                            <th>Solicitante</th>
                                            <th>Etapa Actual</th>
                                            <th>Fecha de tramite</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>



                                    <tbody>
                                        <div class="fa-3x" [ngClass]="{'d-none': !spinner}">
                                            <i class="fas fa-spinner fa-spin"></i>
                                        </div>
                                        <tr *ngFor="let item of listaDeDocuments">
                                            <td>{{item.DataBeanProperties.IDProcedureImp}}</td>
                                            <td>{{item.DataBeanProperties.Name}}</td>
                                            <td>{{item.DataBeanProperties.AccountName}}</td>
                                            <td>{{item.DataBeanProperties.ProcedureName}}</td>
                                            <td>{{item.DataBeanProperties.Since | date :'medium'}}</td>
                                            <td>{{item.DataBeanProperties.StateName}}</td>

                                            <td>
                                                <button title="Ver documentos" id="btnVerDocs"
                                                    class="btn-datatable btn-icon btn-transparent-dark" type="button"
                                                    (click)="abrirTabla(item.DataBeanProperties)">
                                                    <i class="fas fa-table"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="fa-3x" [ngClass]="{'d-none': !spinner2}">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                    <div class="form-row" *ngIf="documentosXresponder != null">
                        <div class="col-12">
                            <div class="datatable">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id documento</th>
                                            <th>Nombre</th>
                                            <th>Observaciones</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr [ngClass]="{'bg-green': item.DataBeanProperties.Media}"
                                            *ngFor="let item of documentosXresponder">
                                            <td>{{item.DataBeanProperties.IDAction}}</td>
                                            <td>{{item.DataBeanProperties.Name}}</td>
                                            <td>{{item.DataBeanProperties.Observations}}</td>
                                            <td>{{item.DataBeanProperties.UptoDate}}</td>
                                            <td>{{estadoDoc[item.DataBeanProperties.State]}}</td>

                                            <td>
                                                <button *ngIf="item.DataBeanProperties.DocumentType == 3"
                                                    title="Formulario"
                                                    [ngClass]="{'btn-transparent-light': item.DataBeanProperties.State == 1}"
                                                    class="btn-datatable btn-icon btn-transparent-dark" type="button"
                                                    (click)="abrirModal(formularioG, item.DataBeanProperties)">
                                                    <i class="fas fa-file-alt"></i></button>
                                                <button title="Archivo"
                                                    *ngIf="item.DataBeanProperties.DocumentType == 2"
                                                    [ngClass]="{'btn-transparent-light': item.DataBeanProperties.State == 1}"
                                                    class=" btn-datatable btn-icon btn-transparent-dark" type="button"
                                                    (click)="abrirSubirArchiv(archivo,item.DataBeanProperties)">
                                                    <i class="fas fa-file-archive"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ng-template #archivo>
    <div class="modal-header">
        <h6 class="modal-title pull-left overflow-hidden">Cargar archivo <br> {{beanProcedureAction.Name}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <small class="text-danger">*Se recomienda subir archivo .pdf o .rar</small>
            <br>
            <br>
            <label for="fileS" class="btn btn-success">Subir archivo <i class="fas fa-upload"></i></label>
            <input type="file" id="fileS" (change)="cargarFile($event.target.files)">
            <a href="{{getUrl(beanProcedureAction.MediaContext, this.beanProcedureAction.Media)}}"
                target="_blank"><small>{{beanProcedureAction.Media}}</small> </a>

        </div>
        <div class="form-row" *ngIf="beanProcedureAction.MediaContext != null">
            <div class="form-group col-md-12">
                <label for="txtDescripcion">Descripción</label>
                <textarea class="form-control" id="txtDescripcion" [(ngModel)]="txtDescripcionAp"></textarea>
            </div>
            <button class="btn btn-outline-success m-1" (click)="aprobarDoc()">Aprobar</button>
            <button class="btn btn-outline-danger m-1" (click)="rechazarDoc()">Rechazar</button>
        </div>
    </div>
</ng-template> -->
<ng-template #archivo>
    <div class="modal-header">
        <h6 class="modal-title pull-left">Cargar archivo <br> {{beanProcedureAction.Name}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <small class="text-danger">*Se recomienda subir archivo .pdf o .rar, tamaño recomendado 50mb</small>
            </div>
            <br>
            <div class="col-12">
                <label for="fileS" class="btn btn-success">Subir archivo <i class="fas fa-upload"></i></label>
                <input type="file" id="fileS" (change)="cargarFile($event.target.files)">
                <br>
                <a href="{{getUrl(beanProcedureAction.MediaContext, this.beanProcedureAction.Media)}}"
                    target="_blank"><small>{{beanProcedureAction.Media}}</small> </a>
            </div>
        </div>

        <div class="form-row mt-2">
            <div class="col-12">
                <button class="btn btn-success mb-2" (click)="abrirAnexo(anexo)">Subir anexos</button>
            </div>
        </div>
        <div class="form-row">
            <div class="datatable">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Archivo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let item of listaAnexos">
                            <td>{{item.DataBeanProperties.Name}}</td>
                            <td>{{item.DataBeanProperties.Description}}</td>
                            <td><a href="{{getUrl(item.DataBeanProperties.MediaContext, item.DataBeanProperties.Media)}}"
                                    target="_blank">{{item.DataBeanProperties.Media}}</a></td>
                            <td>
                                <button title="eliminar anexo" class="btn-datatable btn-icon btn-transparent-dark"
                                    type="button" (click)="eliminarAnexo(item.DataBeanProperties.IDAttachedDocument)">
                                    <i class="fas fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-row" *ngIf="beanProcedureAction.MediaContext != null">
            <!-- {{beanProcedureAction.IsConditional|json}} -->
            <div class="form-group col-md-12" *ngIf="beanProcedureAction.IsConditional == true">
                <label class="w-100">¿Cumple Requisito?</label>
                  <input type="radio" id="si" name="cumRequisito" [(ngModel)]="cumRequisito" value="true">
                  <label for="si">Si</label><br>
                  <input type="radio" id="no" name="cumRequisito" [(ngModel)]="cumRequisito" value="false">
                  <label for="no">No</label><br>
            </div>
            <div class="form-group col-md-12">
                <label for="txtDescripcion">Descripción</label>
                <textarea class="form-control" id="txtDescripcion" [(ngModel)]="txtDescripcionAp"></textarea>
            </div>
            <button class="btn btn-outline-success m-1" (click)="aprobarDoc()">Enviar Respuesta</button>
            <button class="btn btn-outline-danger m-1" (click)="rechazarDoc()">Devolver Tramite</button>
        </div>
    </div>
</ng-template>

<ng-template #anexo>
    <div class="modal-header">
        <h6 class="modal-title pull-left">Cargar anexo</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <small class="text-danger">*Se recomienda subir archivo .pdf o .rar, tamaño recomendado 50mb</small>
            </div>
            <div class="col-12">
                <label for="AnexoS" class="btn btn-success">Anexos archivo <i class="fas fa-upload"></i></label>
                <input type="file" id="AnexoS" (change)="cargarAnexo($event.target.files)">
                <br>
                <a href="{{getUrl(anexoMediaContext, anexoMedia)}}" target="_blank"><small>{{anexoMedia}}</small> </a>
            </div>
            <div class="col-12">
                <label for="txtNombre">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" [(ngModel)]="txtNombre">
            </div>
            <div class="col-12">
                <label for="txtDescripcion">Descripción</label>
                <textarea id="txtDescripcion" class="form-control" [(ngModel)]="txtDescripcion"></textarea>
            </div>
            <button class="btn btn-success my-2" (click)="anadirAnexo()">Guardar anexo</button>
        </div>
    </div>
</ng-template>

<ng-template #formularioG>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" id="btnCerrarP" id="btnCerrarModalG"
            (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div [ngSwitch]="beanProcedureAction.FormEngine">
            <app-formulario-generico *ngSwitchCase="'com.cofip.bpmform.Convenio'" [IdAction]="IDAction"
                [IdProcedureImp]="IDProcedureImp" [IdStage]="IDStage"
                (resultadoForm)="obtenerProcedimientoAcccion($event)"></app-formulario-generico>

            <div *ngSwitchCase="'com.cofip.bpmform.Beneficiarios'">
                <app-formulario-beneficiarios [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-beneficiarios>
            </div>
            <div *ngSwitchCase="'com.cofip.bpmform.PlanInversion'">
                <app-formulario-plan-necesidades [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-necesidades> -->

        <!-- <app-formulario-plan-inversion [BeanAgreement]="beanAgrement"
                [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-inversion> -->
        <!-- </div>
            <div *ngSwitchCase="'com.cofip.bpmform.ArticulosPresupuestales'">
                <app-formulario-articulo-p [BeanAgreement]="beanAgrement" [BeanProcedureAction]="beanProcedureAction">
                </app-formulario-articulo-p>
            </div>
            <div *ngSwitchCase="'com.cofip.bpmform.PlanNecesidad'">
                <app-formulario-plan-necesidad [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-necesidad>
            </div>
        </div> -->
        <div [ngSwitch]="beanProcedureAction.FormURLComponent">
            <app-formulario-generico *ngSwitchCase="'formulario-convenio'" [IdAction]="beanProcedureAction.IDAction"
                [IdProcedureImp]="beanProcedureActionIMP.IDProcedureImp" [IdStage]="beanProcedureAction.IDStage"
                (resultadoForm)="obtenerProcedimientoAcccion($event)" [BeanAgreement]="beanAgrement">
            </app-formulario-generico>

            <div *ngSwitchCase="'formulario-beneficiarios'">
                <app-formulario-beneficiarios [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-beneficiarios>
            </div>
            <div *ngSwitchCase="'formulario-capitulo-apoyo'">
                <app-formulario-plan-inversion [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-inversion>
            </div>
            <div *ngSwitchCase="'formulario-articulo-presupuestales'">
                <app-formulario-articulo-p [BeanAgreement]="beanAgrement" [BeanProcedureAction]="beanProcedureAction">
                </app-formulario-articulo-p>
            </div>
            <div *ngSwitchCase="'formulario-plan-necesidad'">
                <app-formulario-plan-necesidad [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-necesidad>
            </div>
            <div *ngSwitchCase="'PLANIVERSION'">
                <app-formulario-plan-necesidades [BeanAgreement]="beanAgrement"
                    [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-necesidades>

                <!-- <app-formulario-plan-inversion [BeanAgreement]="beanAgrement"
                [BeanProcedureAction]="beanProcedureAction"></app-formulario-plan-inversion> -->
            </div>
            <div *ngSwitchCase="'Form-Consignaciones'">
                <app-modal-consignacion [idAgreement]="beanAgrement.IDAgreement"
                    [BeanProcedureAction]="beanProcedureAction"></app-modal-consignacion>
            </div>
            <!-- "com.cofip.bpmform.PlanNecesidad" -->
        </div>

    </div>
</ng-template>