<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-fluid">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        Árbol de Presupuesto
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-n10">
    <div class="row">
        <div class="col-xxl-4 col-xl-12 mb-4">
            <div class="card h-100">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb" class="p-3">
                            <ol class="breadcrumb mb-0 mt-4 alert-primary">
                                <li class="breadcrumb-item liraiz" *ngFor="let item of listAux"><a
                                        (click)="getSelection(item.idValor, 'Editar')">{{item.valorData}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-3">
                            <button title="Agregar Presupuesto" class="btn btn-outline-green" type="button"
                                (click)="openInvestment(modalInvestment)" (click)="modifyInvestment(0, 'Crear')"
                                (click)="clearInvestment()">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 ml-4 mb-2">
                        <label>Buscar por Codigo</label>
                        <div class="input-group input-group-joined">
                            <input class="form-control" type="text" placeholder="Codigo..." aria-label="Search"
                                [(ngModel)]="codeInvestment" name="buscarNombre">
                            <div class="input-group-append">
                                <button class="btn btn-outline-green" type="button" (click)="searchInvestement()"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group grupotabla">
                            <ul class="hijoss" *ngIf="viewData">
                                <div class="fa-3x" [ngClass]="{'d-none': !spinner}">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                                <li class="itemh list-group-item " *ngFor="let item of listTree">
                                    <button *ngIf="item.EnvolvedObject" title="Seleccionar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="getSelection(item.EnvolvedObject.DataBeanProperties.IDLn, 'Editar'); obtenerCode(item.EnvolvedObject.DataBeanProperties.BudgetCode)">
                                        <i class="fas fa-check-square"></i>
                                    </button>
                                    <button *ngIf="item.EnvolvedObject" title="Editar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="openInvestment(modalInvestment)"
                                        (click)="modifyInvestment(item.EnvolvedObject.DataBeanProperties.IDLn, 'Editar')">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button *ngIf="item.EnvolvedObject" title="Eliminar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="openDelete(item.EnvolvedObject.DataBeanProperties.IDLn, 'Eliminar', modalDelete)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button *ngIf="!item.EnvolvedObject" title="Seleccionar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="getSelection(item.DataBeanProperties.IDLn, 'Editar'); obtenerCode(item.DataBeanProperties.BudgetCode)">
                                        <i class="fas fa-check-square"></i>
                                    </button>
                                    <button *ngIf="!item.EnvolvedObject" title="Editar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="openInvestment(modalInvestment)"
                                        (click)="modifyInvestment(item.DataBeanProperties.IDLn, 'Editar')">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button *ngIf="!item.EnvolvedObject" title="Eliminar Presupuesto"
                                        class="btn btn-datatable btn-icon btn-transparent-dark" type="button"
                                        (click)="openDelete(item.DataBeanProperties.IDLn, 'Eliminar', modalDelete)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <span class="txt_r"
                                        *ngIf="item.EnvolvedObject">{{decodeval(item.EnvolvedObject.DataBeanProperties.BudgetCode)}}
                                        ---
                                        {{decodeval(item.EnvolvedObject.DataBeanProperties.Name)}}</span>

                                    <span *ngIf="!item.EnvolvedObject">{{item.DataBeanProperties.BudgetCode}} ---
                                        {{item.DataBeanProperties.Name}}</span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalInvestment>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{titleMS}}</h5>
            <button class="close" type="button" (click)="cerrar()" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <label>Code</label>
                    <input class="form-control" type="number" [(ngModel)]="optionCode" name="code" />
                </div>
                <div class="col-6">
                    <label>Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="optionName" name="nameCode" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label>Descripción</label>
                    <input class="form-control" type="text" [(ngModel)]="optionDescription" name="description" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger m-1" type="button" (click)="cerrar()">Cerrar</button>
            <button class="btn btn-outline-success m-1" type="button" (click)="sendInvestment()">{{titleBS}}</button>
        </div>
    </div>
</ng-template>

<ng-template #modalDelete>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar</h5>
            <button class="close" type="button" (click)="cerrar()" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <p class="text-center">¿Desea eliminar el elemento seleccionado?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-danger m-1" type="button" (click)="cerrar()">Cancelar</button>
            <button class="btn btn-outline-success m-1" type="button" (click)="deleteInvestment()">Confirmar</button>
        </div>
    </div>
</ng-template>